In [1]:
import pandas as pd

import os 
import glob

Load in all the files as a list so I have a list of files to iterate through

In [39]:
data_dir = "/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/"
files = glob.glob(data_dir+"*.matrix.txt")
files

['/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D702.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D709.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D705.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D707.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D701.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D704.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D703.matrix.txt',
 '/home/ucsd-train25/cshl_2018/processed_data_rna_experiments/D708.matrix.txt']

Here I am working through building my steps one at a time. Once I figured out what I'm doing, I will make a workflow at the end and loop through all files that I am interested in.

In [4]:
df = pd.read_table(files[0], index_col = [0,1], header=None)
print(df.shape)
df.head()

(60725, 2501)

,,2,3,4,5,6,7,8,9,10,11,...,2493,2494,2495,2496,2497,2498,2499,2500,2501,2502
0,1,,,,,,,,,,,,,,,,,,,,,
ENSG00000120656.11,TAF12,0,2,3,4,2,2,2,3,2,1,...,0,0,1,0,0,0,0,0,0,0
ENSG00000104412.7,EMC2,4,2,3,1,1,1,2,1,1,1,...,0,0,0,0,0,1,1,2,1,0
ENSG00000173285.3,OR10K1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000269873.1,CTD-2587H19.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000204174.6,NPY4R,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
name = os.path.basename(files[0]).split('.')[0]
name

'D702'

In [7]:
col_names = df.columns
col_names

Int64Index([   2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
            ...
            2493, 2494, 2495, 2496, 2497, 2498, 2499, 2500, 2501, 2502],
           dtype='int64', length=2501)

In [13]:
new_cols = []

for item in col_names:
    new = name+"_"+str(item)
    new_cols.append(new)

In [16]:
df.columns = new_cols
df.head()

,,D702_2,D702_3,D702_4,D702_5,D702_6,D702_7,D702_8,D702_9,D702_10,D702_11,...,D702_2493,D702_2494,D702_2495,D702_2496,D702_2497,D702_2498,D702_2499,D702_2500,D702_2501,D702_2502
0,1,,,,,,,,,,,,,,,,,,,,,
ENSG00000120656.11,TAF12,0,2,3,4,2,2,2,3,2,1,...,0,0,1,0,0,0,0,0,0,0
ENSG00000104412.7,EMC2,4,2,3,1,1,1,2,1,1,1,...,0,0,0,0,0,1,1,2,1,0
ENSG00000173285.3,OR10K1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000269873.1,CTD-2587H19.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000204174.6,NPY4R,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now let's put it together and loop through all the files

In [20]:
dfs = []

for file in files:
    df = pd.read_table(file, index_col = [0,1], header=None)
    name = os.path.basename(file).split('.')[0]
    col_names = df.columns
    
    new_cols = []
    for item in col_names:
        new = name+"_"+str(item)
        new_cols.append(new)    
        
    df.columns = new_cols
    
    dfs.append(df)

Example here takes all that code and puts it in a function:

In [ ]:
def load_rename_df(path_to_table):
    df = pd.read_table(path_to_table, index_col = [0,1], header=None)
    name = os.path.basename(path_to_table).split('.')[0]
    col_names = df.columns
    
    new_cols = []
    for item in col_names:
        new = name+"_"+str(item)
        new_cols.append(new)    
        
    df.columns = new_cols
    
    return df

In [ ]:
dfs = []

for file in files:
    df = load_rename_df(file)
    dfs.append(df)

Join the list of dataframes together to make one massive dataframe. In this instance, all row names are always the same (60000+ genes), so we can take the default left join. If your row names were NOT always the same, but some dataframes have additional rows, consider performing an 'outer' join by adding the argument how='outer'. See more in documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html)

In [34]:
result = dfs[0]

for df in dfs[1:]:
    result = result.join(df)
    
print(result.shape)
result.head()

(60725, 11000)

,,D702_2,D702_3,D702_4,D702_5,D702_6,D702_7,D702_8,D702_9,D702_10,D702_11,...,D708_2057,D708_2058,D708_2059,D708_2060,D708_2061,D708_2062,D708_2063,D708_2064,D708_2065,D708_2066
0,1,,,,,,,,,,,,,,,,,,,,,
ENSG00000120656.11,TAF12,0,2,3,4,2,2,2,3,2,1,...,0,0,0,0,0,1,0,0,0,0
ENSG00000104412.7,EMC2,4,2,3,1,1,1,2,1,1,1,...,0,0,0,0,0,0,0,2,0,0
ENSG00000173285.3,OR10K1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000269873.1,CTD-2587H19.3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000204174.6,NPY4R,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0